*,
*::before,
*::after {
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.projectDropdown input {
  display: inline-block;
}

body {
  background-color: rgba(243, 243, 240, 0);
  margin: 0;
}

input[type="radio"] {
  display: inline-block;
}

p[class="todoData"] {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px; 
}

div.buttons {
  margin-top: 10px;
}

/* Style the buttons */
.newProjBtn {
  width: 130px;
  height: 35px;
  font-size: 14px;
  background-color: white;
  color: black;
  border: 1px solid;
  box-shadow: 3px 3px 4px black;
  margin-left: 20px;
}

.newProjBtn:hover {
  background-color: rgb(244, 242, 242);
}

.newProjBtn:active {
  background-color: rgb(235, 231, 231);
}

.newTodoBtn {
  width: 83px;
  height: 20px;
  border: none;
  background-color: rgba(243, 243, 240, 0);
  color: rgba(0, 0, 0, 0.544);
  opacity: 0.9;
  margin-top: 10px;
}

/* Position different sections of the webpage */
.content {
  display: grid;
  grid-template-columns: 16vw 84vw;
  grid-template-rows: minmax(100vh, auto);
  overflow-x: hidden;
}

/* Style the sidebar */
.sidebar {
  background-color: rgba(155, 232, 39, 0.872);
}

.sidebar .titleSection {
  background-image: url(../images/logo2.png);
  background-size: 272px;
  height: 125px;
  width: 100%;
  margin-bottom: 30px;
}

.sidebar h1 {
  margin-top: 30px;
  margin-bottom: 25px;
  margin-left: 20px;
  font-size: 28px;
}

.sidebar .viewAllProjsBtn,
.sidebar .viewProjectBtn {
  display: block;
  margin-bottom: 20px;
  border: none;
  background-color: rgba(155, 232, 39, 0);
  color: black;
  border-bottom: 2px solid black;
}

.sidebar .viewAllProjsBtn,
.sidebar .viewProjectBtn {
  font-weight: bold;
  font-size: 18px;
  margin-left: 20px;
}

.sidebar .viewAllProjsBtn:hover,
.sidebar .viewProjectBtn:hover {
  border-bottom: 2px solid black;
  border-radius: 12px;
}

.sidebar .viewAllProjsBtn:active,
.sidebar .viewProjectBtn:active {
  opacity: 0.3;
}

/* Style the projects section*/
.projects {
  padding: 20px;
  padding-bottom: 0;
  background-color: rgba(0, 0, 128, 0.234);
}

/* Collapse Button styling*/
.projects .projectHead h2 {
  display: inline-block;
  margin-top: 0;
}

.projectHead .collapseBtn {
  margin-left: 20px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: rgb(244, 242, 242);
}

.projectContent.collapsed {
  display: none;
}

/* Style projects */
.projects .projectDiv {
  background-color: whitesmoke;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: -3px 3px 2px;
}

/* Design the overall positioning of all the todos */
.projects .allTodos {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* Style the todos */
.todo {
  display: grid;
  grid-template-columns: 40px 130px 130px;
  grid-template-rows: 40px 100px 40px;
  width: 300px;
  height: 200px;
  border: none;
  border-radius: 8px;
  padding: 8px;
}

/* Position the parts of todo */
.todo .todoHeader {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.todo .todoSection {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}

.todo .todoFooter {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}

/* Position the subparts of todo */
.todoHeader .todoCheckbox {
  grid-column: 1 / 2;
}

.todoHeader .title {
  grid-column: 2 / 4;
  display: inline-block;
  margin-left: 20px;
}

.todoSection .deleteTodoBtn {
  grid-column: 1 / 2;
  display: inline-block;
}

.todoSection .description {
  grid-column: 2 / 4;
  display: inline-block;
  margin-left: 20px;
  width: 200px;
}

.todoFooter .dueDate {
  grid-column: 2 / 3;
  display: inline-block;
}

.todoFooter .priority {
  grid-column: 3 / 4;
  display: inline-block;
  margin-left: 20px;
}

/* Style the todo checkbox */
.todo input[type="checkbox"] {
  width: 20px;
  height: 20px;
  position: center;
}

div.todo.checked {
  background-color: rgb(235, 231, 231);
  opacity: 0.7;
}

/* Apply styles to todos according to their priority */
.todo.priority1 {
  background-color: lightseagreen;
}
 
.todo.priority2 {
  background-color: lightskyblue;
}
 
.todo.priority3 {
  background-color: rgba(255, 255, 0, 0.778);
}
 
.todo.priority4 {
  background-color: greenyellow;
}

.todo.priority5 {
  background-color: lightgreen;
}

/* Style the delete project button */
.projectContent .deleteProjBtn {
  display: block;
  margin-top: 10px;
  width: 140px;
  height: 30px;
  border: 1px solid;
  border-radius: 8px;
  background-color: red;
  color: white;
}

/* Style the dialog box and its elements */
dialog {
  width: 500px;
  background-color: rgba(0, 0, 0, 0.294);
  border: none;
  border-radius: 10px;
  padding: 50px;
}

dialog::backdrop {
  background-color: rgb(243, 243, 240);
  opacity: 0.8;
}

dialog input,
dialog select,
dialog textarea {
  display: block;
  margin-bottom: 20px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid;
  background-color: rgba(255, 255, 255, 0.908);
  height: 35px;
  padding-left: 10px;
  font-size: 15px;
}

dialog textarea {
  padding-top: 7px;
}

dialog input:focus,
dialog select:focus,
dialog textarea:focus {
  border: 2px solid;
  outline: none;
}

dialog .projectName {
  margin: 0px;
  height: 35px;
}

dialog select {
  padding-bottom: 2px;
  padding-right: 10px;
}

dialog .submitBtn,
dialog .closeBtn {
  height: 40px;
  width: 120px;
  margin-top: 30px;
  margin-right: 10px;
}

dialog .closeBtn {
  background-color: rgba(255, 0, 0, 0.819);
  border: none;
  color: white;
}