*,
*::before,
*::after {
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  text-align: center;
  color: blue;
}

label + input {
  display: block;
  margin-top: 5px;
  margin-bottom: 20px;
}

body {
  background-color: white;
  
}

input[type="radio"] {
  display: inline-block;
}

div[class="todo"] {
  border: 2px solid lightgreen;
}

p[class="todoData"] {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px; 
}